@import "../variables.scss";

.color-picker-container {
  display: flex;
  flex-direction: column;
  width: $picker-width;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 3px 3px 5px 0px #ccc;
}
