@import "../../variables.scss";

.bar {
  height: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.marker {
  position: relative;
}
.hue {
  background: linear-gradient(
    to right,
    #ff0000 0%,
    #ffff00 17%,
    #00ff00 33%,
    #00ffff 50%,
    #0000ff 67%,
    #ff00ff 83%,
    #ff0000 100%
  );
}
.lighter {
  background: repeating-conic-gradient(#808080 0% 25%, transparent 0% 50%) 50% /
    20px 20px;
}
.rounded {
  border-radius: 0 0 $color-picker-border-width $color-picker-border-width;
}
