@import "../../variables.scss";

.bar {
  height: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.marker {
  position: relative;
}
.hue {
  background: linear-gradient(
    to right,
    #ff0000 0%,
    #ffff00 17%,
    #00ff00 33%,
    #00ffff 50%,
    #0000ff 67%,
    #ff00ff 83%,
    #ff0000 100%
  );
}
