<div class="showroom" [style.background-color]="color">
  <div class="feature">
    <ng-container
      [ngTemplateOutlet]="pickerTemplate ? pickerTemplate : picker"
      [ngTemplateOutletContext]="outletContext()"
    ></ng-container>
    <h1 class="color-label" [style.color]="labelColor()">
      <app-json-formatter [json]="color"></app-json-formatter>
      <!-- set this so it doesn't feed back in and you'll get less jitter -->
    </h1>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Format</mat-label>
    <mat-select [(ngModel)]="selectedFormat">
      <mat-option *ngFor="let format of formats" [value]="format">
        {{ format }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<ng-template #picker let-config>
  <color-picker
    [format]="config.format"
    [color]="config.color"
    (colorChange)="config.change($event)"
  ></color-picker>
</ng-template>
