<div
  appDraggable
  *ngIf="transparent; else nonTransparent"
  class="bar transparent draggableContainer"
  (onMove)="markerMoved($event)"
  [style.background]="transparentBackground()"
>
  <app-marker
    #marker
    class="marker"
    [color]="markerColor"
    [ngStyle]="markerStyle()"
  ></app-marker>
</div>

<ng-template #nonTransparent>
  <div
    class="bar hue draggableContainer"
    appDraggable
    (onMove)="markerMoved($event)"
  >
    <app-marker
      #marker
      class="marker"
      [color]="markerColor"
      [ngStyle]="markerStyle()"
    ></app-marker>
  </div>
</ng-template>
