.showroom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 2rem;
  width: 360px;
  border: 1px solid white;
  border-radius: 4px;
}

// .color-label {
// }
