.showroom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

// .color-label {
// }
